.GridList {
  --gl-width: calc(((75rem - 3rem) / var(--gl-columns)));
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--gl-width));
  grid-gap: 1rem;
  justify-content: space-between;
}

.GridList_item {
  background-color: red;
}

.GridList_item:nth-child(odd) {
  background: blue;
}
