.HeroImage {
  padding: 3rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.HeroImage_title {
  display: inline-block;
  background: var(--palette-primary-dark);
  padding: 1rem;
  color: var(--palette-primary-white);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.HeroImage_subtitle {
  display: inline-block;
  background: var(--palette-secondary-dark);
  padding: 0.5rem 1rem;
  color: var(--palette-secondary-white);
  text-transform: lowercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
  font-weight: normal;
}

.HeroImage_credit {
  display: none;
  z-index: 1;
  align-self: flex-end;
  justify-self: flex-end;
  background: rgba(var(--colors-inverted-background-rgb), 0.5);
  color: var(--colors-inverted-text-body);
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-shadow: 0 0 10px var(--colors-inverted-background);
  font-size: 0.8rem;
  transition: background 100ms ease-in-out;
  text-align: center;
}

.HeroImage_credit:hover,
.HeroImage_credit:focus {
  background: rgba(var(--colors-inverted-background-rgb), 1);
}

@media (min-width: 800px) {
  .HeroImage {
    height: 85vh;
    min-height: 300px;
    padding: 0;
  }

  .HeroImage_title {
    font-size: 4rem;
  }

  .HeroImage_subtitle {
    font-size: 2rem;
  }

  .HeroImage_credit {
    display: block;
  }
}
