.IllustrationBlock {
  display: grid;
  grid-template-areas: "illustration" "title" "text";
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
}

.IllustrationBlock.right {
  grid-template-areas: "illustration" "title" "text";
}

.IllustrationBlock_title {
  margin-bottom: 0;
  grid-area: title;
}

.IllustrationBlock_illustration {
  color: var(--colors-accent-background);
  align-self: center;
  justify-self: center;
  text-align: center;
  grid-area: illustration;
}

.IllustrationBlock_illustration svg {
  width: 50%;
}

.IllustrationBlock_text {
  grid-area: text;
}

@media (min-width: 800px) {
  .IllustrationBlock {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "title title"
      "illustration text";
  }

  .IllustrationBlock.right {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "title title"
      "text illustration";
  }

  .IllustrationBlock_illustration svg {
    width: 100%;
  }
}
